.login-page {
  display: flex;
  width: auto;
  height: 100vh;
  justify-content: center;
  background: linear-gradient(135deg, rgb(149, 226, 149), #4c89bb);
}

.login-block {
  padding: 20px;
  height: 20vh;
  width: 20vw;
  margin-top: 30vh;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.6);
}
