.menu {
  margin-top: 10px;
  width: 100%;
  border-radius: 20px;
  border-right: none;
}
.ant-menu-item {
  border-radius: 20px !important;
}

.Sider-Card {
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
