.speech {
  margin-bottom: 40px;
  padding: 23px;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* .speech :hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
} */

.speech .username {
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
  color: rgb(124, 126, 108);
}

.speech-time {
  color: rgb(124, 126, 108);
  width: 100%;
  text-align: end;
}

.speech .speech-content {
  display: block;
  font-size: 20px;
  overflow-wrap: break-word;
}

.speech-btn {
  margin-left: 2%;
}

.btn-group {
  text-align: end;
  margin-top: 10px;
  width: 100%;
}

.comment {
  margin-top: 20px;
}
